################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.git
/.github
/.vs
*/.vs
*/obj
*/bin
*/.idea
